.navegador {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    background-color: blueviolet;
    width: 85%;
    align-items: center;
    justify-items: center;
    margin: auto;
}

.titula-nav {
    grid-column: 1/ span 3;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aquamarine;
    font-size: 50px;
}

.fondo-li {
    background-color: crimson;
    font-size: 20px;
    color: black;
    width: 90%;
    height: 50px;
    border: 3px solid black;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: center;
}

.fondo-li:hover{
    font-size: 40px;
    border-color: white;
    background-color: darkgoldenrod;
}

@media (min-width: 300px) and (max-width: 660px) {
    h1 {
        font-size: 25px;
    }
}